.header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-padding {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}